body {
    margin: 0px auto;
    font-family: "Open Sans", sans-serif
}

canvas {
    width: 320px;
    height: 320px;
}

#fb-btn {
    text-align: center;
}

#fb {
    display: none;
}

#card {
    background: url('../img/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

#card > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#card > .container > .content {
    width: 320px;
    margin: 0 auto;
}

#card .segment {
    padding: 0;
    border-width: 0;
    overflow: hidden;
}

#pic-container {
    position: relative;
    width: 320px;
    height: 320px;
    text-align: center;
    background: url(/assets/hackers.png);
    background-size: cover;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

#profile-pic {
    opacity: 1;
    transition-duration: 1s;
    width: 100%;
}

#profile-pic.hidden {
    opacity: 0;
}

#pic-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#text {
    padding: 16px;
    text-align: center;
}

#title, #subtitle {
    letter-spacing: 5.5px;
    font-weight: 700;
    text-align: center;
    color: #473899;
}

#placeholder {
    height: 320px;
    width: 320px;
    position: absolute;
}

#title {
    font-size: 2.5em;
    margin: 24px 0 18px;
}

#subtitle {
    font-size: 1.5em;
    letter-spacing: 5.5px;
    margin-bottom: 20px;
}

#text p {
    font-weight: 300;
    padding: 4px;
    font-size: 1.25em;
    margin-bottom: 0;
}

#info {
    margin-bottom: 12px;
}

.btn {
    background: #7238C0;
    border: none;
    color: white !important;
    font-size: 1.2em;
    padding: 12px 24px;
}

#login {
    background: #7238C0;
}

#download {
    background: #8DC73F;
}

.fb-loggedin {
    display: none;
}
